.container_card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 100%;
  background-color: $secondary-color;
  margin: 100px;
  border-radius: 25px;
}

.home_card {
  position: relative;
 
  img {
    width: 340px;
    height: 340px;
    margin: 20px;
   border-radius: 10px;
   cursor: pointer;
   &:hover{
       box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.2);
   }
  }
}

.home_card_title {
  position: absolute;
  color: $white-color;
  left: 40px;
  top: 320px;
}
