.appartement {
  color: $primary-color;
  h1 {
    font-size: 36px;
    font-weight: 500;
    margin-left: 100px;
  }
  h2 {
    font-size: 18px;
    font-weight: 500;
    margin-left: 100px;
  }
}

.property__tags {
  margin-left: 100px;
  margin-top: 20px;
  margin-bottom:25px;
}

.tag {
  background: #ff6060;
  border-radius: 10px;
  height: 25px;
  padding: 5px;
  text-align: center;
  border-radius: 10px;
  
  margin-right: 10px;
  color: $white-color;
  cursor: pointer;
  &:hover{
   box-shadow:5px 5px 15px -5px #000000
  }

}

