.notFound{
    color: $primary-color;
    h1{

font-size: 288px;
text-align: center;
}

h2{
    text-align: center;
    font-size: 40px;
}
a{
    margin-top: 25px;
    color: $primary-color;
    text-decoration: underline $primary-color;

    
}
}

